<div class="cabecalho">
    <div class="navbar">
        <p>Robot Toy</p>
        <div class="ajuda">
            <button class="botaoAjuda" id="botaoAjuda" onclick="exibeAjuda()">
                <span class="material-icons">
                    help_outline
                </span>
            </button>
        </div>
    </div>

    <div class="conteudo">
        <div id="modalAjuda" class="modalAjuda">
            <div class="modal-content">
                <span class="icone iconeFechar">&times;</span>
                <h3 id="tituloAjuda"> </h3>
                <p class="conteudoModal" id="textoAjuda"> </p>
                <p id="iconeProximo"></p>
                <p id="iconeVoltar"></p>
            </div>
        </div>
        <% if @error%>
            <div class="modalErro" id="modalErro">
                <div class="modal-content">
                    <div class="erro" id = "erro">
                        <span class="icone iconeFechar">&times;</span>
                        <h3 id="tituloAjuda"><%= @error %></h3>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="opcoes">
            <%= form_tag game_path, method: :put do %>
            <%= hidden_field_tag :current_line, @game.position_line %>
            <%= hidden_field_tag :current_column, @game.position_column %>
            <%= hidden_field_tag :current_orientation, @game.facing %>
            <%= select_tag :command, options_for_select(game_commands_options), onchange: 'changeCommandSelect(this)' %>
            <%= text_field_tag :place %>
            <button class="botaoGO" id="">GO!</button>
            <% end %>
        </div>
        <table>
            <% @game.board_width.times do |line_index| %>
            <tr>
                <% @game.board_height.times do |column_index| %>
                <td>
                    <%= image_tag('eva.png', class: @game.facing.to_s.downcase) if robot_place? @game, line_index, column_index %>
                </td>
                <% end %>
            </tr>
            <% end %>
        </table>
    </div>
</div>

<script>
    function changeCommandSelect(element) {
        const place_field = document.getElementById('place');
        if (element.value === '1') {
            place_field.style.display = 'inline-block';
        } else {
            place_field.style.display = 'none';
        }
    }

    var modalAjuda = document.getElementById("modalAjuda");
    var botaoAjuda = document.getElementById("botaoAjuda");
    var icone = document.getElementsByClassName("icone")[0];

    botaoAjuda.onclick = function() {
        modalAjuda.style.display = "block";
        iconeAjuda(1);
    }

    icone.onclick = function() {
        modalAjuda.style.display = "none";
    }

    function iconeAjuda(id) {
        switch (id) {
            case 1:
                document.getElementById("tituloAjuda").innerHTML = tituloAjuda1;
                document.getElementById("textoAjuda").innerHTML = conteudoAjuda1;
                document.getElementById("iconeProximo").innerHTML = iconeProximo1;
                document.getElementById("iconeVoltar").innerHTML = "";
                break;

            case 2:
                document.getElementById("tituloAjuda").innerHTML = tituloAjuda2;
                document.getElementById("textoAjuda").innerHTML = conteudoAjuda2;
                document.getElementById("iconeVoltar").innerHTML = iconeVoltar1;
                document.getElementById("iconeProximo").innerHTML = iconeProximo2;
                break;

            case 3:
                document.getElementById("textoAjuda").innerHTML = conteudoAjuda3;
                document.getElementById("iconeVoltar").innerHTML = iconeVoltar2;
                document.getElementById("iconeProximo").innerHTML = "";
                break;
            default:
                break;
        }
    }

    const tituloAjuda1 = "Bem vindo(a) ao Robot Toy!";
    const conteudoAjuda1 = "Eva está livre para passear pela plataforma, pois é impedida de cair e se perder no espaço. " +
        "Qualquer movimento que resulte em sua queda é evitado, no entanto, " +
        "outros comandos de movimento válidos são permitidos.";

    const tituloAjuda2 = "Comandos para movimentar Eva:";
    const conteudoAjuda2 =
        "<p>" +
        "<ul>" +
        "<li>" +
        "<span class = \"negrito\">Place</span>: indica na plataforma a posição de Eva.\n" +
        "</li>" +
        "<ul>" +
        "<li>" +
        "Utilize as coordenadas X, Y para indicar sua primeira posição na e " +
        "Norte(north), Sul(south), Oeste(east) ou Leste(west) para indicar o angula na qual ela andará.\n\n" +
        "</li>" +
        "<li>" +
        "O aplicativo descartará todos os comandos na sequência até que um comando \"Place\" válido seja executado.\n\n" +
        "</li>" +
        "</ul>" +
        "</ul>" +
        "</p>";

    const conteudoAjuda3 =
        "<p>" +
        "<ul>" +
        "<li>" +
        "<span class = \"negrito\">Move</span>: Moverá Eva para a direção que ela estiver voltada.\n\n" +
        "</li>" +
        "<li>" +
        "<span class = \"negrito\">Left e Right</span>: Girará Eva 90 graus na direção especificada sem alterar sua posição.\n\n" +
        "</li>" +
        "</ul>" +
        "</p>";
    const iconeProximo1 = " <span class=\"material-icons icone iconeProximo\" onclick=\"iconeAjuda(2)\">arrow_right_alt</span>";
    const iconeProximo2 = " <span class=\"material-icons icone iconeProximo\" onclick=\"iconeAjuda(3)\">arrow_right_alt</span>";
    const iconeVoltar1 = " <span class=\"material-icons icone iconeVoltar\" onclick=\"iconeAjuda(1)\">arrow_right_alt</span>";
    const iconeVoltar2 = " <span class=\"material-icons icone iconeVoltar\" onclick=\"iconeAjuda(2)\">arrow_right_alt</span>";
</script>